services:
  juice-shop:
    image: bkimminich/juice-shop
    container_name: juice-shop
    expose:
      - "3000"

  waf:
    image: owasp/modsecurity-crs:nginx
    container_name: waf
    ports:
      - "8080:80"
    depends_on:
      - juice-shop
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf