services:
  juice-shop:
    image: bkimminich/juice-shop
    container_name: juice-shop
    expose:
      - "3000"

  waf:
    image: owasp/modsecurity-crs:nginx
    container_name: waf
    ports:
      - "8888:80"
    environment:
      BACKEND: "http://juice-shop:3000"
      MODSEC_RULE_ENGINE: "On"
      PARANOIA: "1"
      ANOMALY_INBOUND: "5"
    depends_on:
      - juice-shop