services:
  juice-shop:
    image: bkimminich/juice-shop
    container_name: juice-shop
    expose:
      - "3000"

  waf:
    image: owasp/modsecurity-crs:nginx
    container_name: waf
    ports:
      - "8888:80"
    environment:
      PROXY_PASS: "http://juice-shop:3000"
    depends_on:
      - juice-shop
      
      # services:
#   juice-shop:
#     image: bkimminich/juice-shop
#     container_name: juice-shop
#     expose:
#       - "3000"

#   waf:
#     image: owasp/modsecurity-crs:nginx
#     container_name: waf
#     ports:
#       - "8888:80"
#     depends_on:
#       - juice-shop
#     volumes:
#       - ./nginx.conf:/etc/nginx/conf.d/default.conf