services:
  juice-shop:
    image: bkimminich/juice-shop
    container_name: juice-shop
    expose:
      - "3000"

  waf:
    image: nginx:latest
    container_name: waf
    ports:
      - "8888:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - juice-shop